doctype html
html
  head
    title Error
  body
   header
        nav
          ul
            li
              a(href='/') Form
            li
              a(href='/persons') Persons
            li
              a(href='/update') Update
    h1 Error
    p Database error occurred: #{error}
